#game {
    padding: 0 size(60);

    .container {
        position: inherit;
        z-index: 1;
    }

    .game-list {
        margin-top: size(20);
        display: flex;
        flex-wrap: wrap;
        gap: size(36) 0;
        align-items: stretch;

        >li {
            flex: 25%;
            max-width: 25%;
            padding: size(28);
            border-radius: size(30);
            overflow: hidden;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transition-property: background-color;
            transition-duration: .3s;

            .img {
                margin-bottom: size(20);
                border-radius: size(30);
                overflow: hidden;

                img {
                    border-radius: size(30);
                    transition-property: transform;
                    transition-duration: .3s;
                }
            }

            .tags {
                margin: size(16) 0 size(40);
            }

            .btn {
                flex-grow: 1;
                display: flex;
                align-items: flex-end;
            }

            @media (hover: hover) {
                &:hover {
                    background-color: black;

                    .img {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }

    .game-detail {
        .card-content {
            display: flex;
            gap: size(40);
        }

        .img {
            flex: 60%;
            max-width: 60%;

            img {
                border-radius: size(30);
            }
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: size(20);

            .desc {
                flex: 100%;
                padding: size(16);
                background-color: color(gray-9);
                color: color(gray-4);
                border-radius: size(10);
                @include body-1;
            }
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        .game-list {
            >li {
                flex: 33.33%;
                max-width: 33.33%;

                &:hover {
                    background-color: transparent;
                }
            }
        }
    }


    // small-pad ~ 768
    @include max-to(small-pad) {
        background-image: url(../img/bg/inner-bg-m.jpg);
        margin-top: size(-16);
        padding: 0 size(16);

        .game-list {
            gap: size(32) size(16);

            >li {
                flex: calc(50% - size(8));
                max-width: calc(50% - size(8));
                padding: 0;
                border-radius: 0;
                align-items: stretch;

                .img {
                    margin-bottom: size(16);
                }

                .tags {
                    margin: size(8) 0 size(20);
                }
            }
        }

        .game-detail {
            padding: size(32) size(16);

            .card-content {
                flex-wrap: wrap;
                gap: size(16);
            }

            .img {
                flex: 100%;
                max-width: 100%;
            }

            .content {
                .desc {
                    order: 2;
                }
            }
        }
    }
}