.game-zone {
    $gamezone-width: calc((size(1440) - size(28)*2) * .6);
    // 算式：(container - card padding) * game-zone flex

    flex: 60%;
    max-width: 60%;
    @include radius;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc($gamezone-width * .6); // 寬高比 60%

    .default {
        height: 100%;
        background-position: center;
        background-size: cover;

        .game-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: size(24);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: size(150);
                background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, .8) 100%);
                z-index: -1;
            }
        }
    }

    .play-game {
        margin-bottom: size(-8);
        display: none;
        opacity: 0;
        position: inherit;
        height: 100%;

        video {
            width: 100%;
            min-height: 100%;
            z-index: 0;
        }

        .game-content {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;

            .result {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: size(32);

                img {
                    max-width: size(200);
                    animation: float 3s infinite forwards linear;
                }

                &.show {
                    img {
                        animation-play-state: paused;
                    }
                }
            }

            .selection {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: size(28) size(24);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: size(8);
                z-index: 1;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: size(16);
                    padding: size(8);
                    border-radius: size(8);
                    overflow: hidden;

                    input {
                        display: none;

                        &[disabled] {
                            &+label {
                                cursor: not-allowed;
                            }
                        }
                    }

                    label {
                        position: relative;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                            transform: rotate(-10deg);

                            &.bg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                right: 0;
                                bottom: 0;
                                transform: translate(-50%, -50%);
                                filter: grayscale(100%);
                                z-index: -1;
                                transition-property: filter;
                            }

                            &.item {
                                max-height: size(56);
                                transition-property: transform;
                            }
                        }
                    }

                    &.alert {
                        animation: warning 1s forwards;
                    }
                }

                button {
                    background-color: transparent;
                    padding: 0;
                    flex-grow: 0;

                    img {
                        max-width: 100%;
                        max-height: size(56);
                    }
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: size(150);
            background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, .8) 100%);
            z-index: 1;
        }

        .toast-container {
            position: absolute;
            top: size(16);
        }
    }

    &.play {
        .default {
            display: none;
        }

        .play-game {
            display: block;
            animation: fade-in 1s forwards;
        }
    }

    .popUp {
        position: absolute;

        .popUp--container {
            .popUp--content {
                text-align: center;
                min-width: calc($gamezone-width * .5);
            }
        }
    }

    &.MTP,
    &.PSS,
    &.MC {
        .play-game {
            .game-content {
                .selection {
                    div {
                        label {
                            padding: 0 size(16);

                            img {
                                &.bg {
                                    filter: grayscale(100%);
                                    transition-property: filter;
                                }

                                &.item {
                                    transition-property: transform;
                                }
                            }
                        }

                        input {
                            &:checked {
                                &+label {
                                    img {
                                        &.bg {
                                            filter: grayscale(0);
                                        }

                                        &.item {
                                            transform: scale(1.1);
                                        }
                                    }
                                }
                            }
                        }
                    }

                    button {
                        img {
                            max-height: size(56);
                        }
                    }
                }
            }
        }
    }

    &.MTP {
        .play-game {
            .game-content {
                .result {
                    transform: rotate(-10deg);
                }
            }
        }
    }

    &.PSS {
        .play-game {
            .game-content {
                .result {
                    transform: translate(size(-10), size(-10));

                    &.playing {
                        img {
                            animation: shaking 1s infinite;
                        }
                    }
                }
            }
        }
    }

    &.IC {
        .play-game {
            .game-content {
                .result {
                    .swiper {
                        margin: 0;
                        max-width: size(200);
                        height: 100%;

                        .swiper-wrapper {
                            .swiper-slide {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-image: url(../img/game/IC/frame.png);
                        background-size: cover;
                        background-position: center;
                        z-index: 1;
                    }
                }

                .selection {
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: size(150);
                        background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, .8) 100%);
                        z-index: 0;
                    }

                    .play {
                        z-index: 1;
                    }
                }
            }
        }
    }

    &.MC {
        .play-game {
            .game-content {
                .result {
                    position: relative;

                    .wheel {
                        width: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                        height: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                        position: absolute;
                        top: size(36);
                        left: 50%;
                        transform: translate(-50%, 0);

                        &Body {
                            position: relative;
                            width: 100%;
                            padding-bottom: 100%;
                            border-radius: 50%;
                            overflow: hidden;
                            margin: 0 auto;

                            .hand {
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                width: 20%;
                                height: 20%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: transform 3s;
                                border-radius: 50%;
                                z-index: 8;

                                img {
                                    position: absolute;
                                    top: -70%;
                                    left: -7.5%;
                                    width: 125%;
                                    transform: rotate(190deg);
                                }
                            }

                            .pattern {
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);

                                .inner {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 50%;
                                    height: 100%;
                                    transform-origin: right center;
                                    background-image: url(../img/game/MC/pattern1.jpg);
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                }

                                &.picked {
                                    .inner {
                                        &::after {
                                            content: '';
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            right: 0;
                                            bottom: 0;
                                            animation: flash 1s linear .5s forwards;
                                            opacity: .5;
                                        }
                                    }
                                }

                                &:nth-child(2n) {
                                    .inner {
                                        background-image: url(../img/game/MC/pattern2.jpg);

                                        &::after {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }

                        &Content {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            padding-bottom: 100%;

                            .inner {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                padding-top: size(16);

                                img {
                                    max-width: 15%;
                                }

                                &.picked {
                                    img {
                                        animation: bounce 1s linear .5s forwards;
                                    }
                                }
                            }
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            top: -25%;
                            left: -25%;
                            right: -25%;
                            bottom: -25%;
                            background-image: url(../img/game/MC/wheelFrame.png);
                            background-size: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }

                    img {
                        animation: none;
                    }
                }

                .selection {
                    padding: size(20) size(24);

                    div {
                        padding: size(4) size(8);

                        label {
                            padding: size(4) size(16);

                            img {
                                &.item {
                                    max-height: size(52);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.HOTP {
        height: auto;

        .play-game {
            background-image: url(../img/game/HOTP/bg.jpg);
            background-size: cover;

            .game-content {
                padding: size(120) size(88) size(88);
                position: inherit;

                .title {
                    position: absolute;
                    top: size(12);
                    left: size(16);
                    width: size(120);
                }

                .frame {
                    $frame-width: ($gamezone-width - (size(88) * 2));
                    // 算式：gamezone-width - 左右 padding 各 88px

                    position: relative;
                    background-image: url(../img/game/HOTP/frame-strech.png);
                    background-size: 100%;
                    padding-left: calc($frame-width * .04); // 左邊框 4%
                    padding-right: calc($frame-width * .04); // 右邊框 4%

                    >span {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 50%;
                        transform: translate(0, -50%);
                    }

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        right: 0;
                        height: 100%;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        z-index: 2;
                    }

                    &::before {
                        background-image: url(../img/game/HOTP/frame-top.png);
                        background-position: top center;
                        top: calc($frame-width * -.05); // 上邊框 5%
                    }

                    &::after {
                        background-image: url(../img/game/HOTP/frame-bottom.png);
                        background-position: bottom center;
                        bottom: calc($frame-width * -.035); // 下邊框 3.5%
                    }

                    &-result {
                        background-color: rgba(color(gray-9), .8);
                        padding: size(20);
                        display: grid;
                        gap: size(16);
                        grid-template-columns: calc(30% - size(8)) calc(70% - size(8));
                        grid-template-rows: size(68) auto 1fr auto;

                        >* {
                            position: inherit;
                            z-index: 3;
                        }

                        .img {
                            $img-width: calc(((($frame-width * .894) - (size(16) * 2)) * .3) - size(8));
                            // 算式：((frame-width * [100% - (左右邊框 5.3% * 2) = 89.4%] - 左右 padding) * .img flex) - gap/2)

                            grid-column: 1/2;
                            grid-row: 1/3;
                            position: relative;
                            padding: calc($img-width * .045); // .img 邊框 4.5%

                            h6 {
                                position: absolute;
                                right: calc($img-width * .045); // .img 邊框 4.5%
                                bottom: calc(($img-width * .045) + size(4)); // .img 邊框 4.5% + bottom 位移 4px
                                padding: size(6) size(16) size(6) size(20);
                                border-top-left-radius: size(30);
                                background: linear-gradient(296deg, #D4951A 27.32%, #F3D99C 66.63%);
                                color: black;
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: size(4);
                                background-image: url(../img/game/HOTP/border.png);
                                background-size: 100%;
                                background-repeat: no-repeat;
                                z-index: 2;
                            }
                        }

                        .compare {
                            grid-column: -2/-1;
                            grid-row: 1/2;
                            display: flex;
                            gap: size(16);

                            div {
                                flex: calc((100% - size(16))/2);
                                display: grid;
                                grid-template-rows: 50% 50%;
                                grid-template-columns: size(68) 1fr;
                                gap: 0 size(8);

                                img {
                                    grid-row: 1/-1;
                                    grid-column: 1/2;
                                    border-radius: size(100);
                                }

                                h6 {
                                    grid-row: 1/2;
                                    grid-column: -2/-1;
                                    display: flex;
                                    align-items: flex-end;
                                    padding: size(4) 0;
                                    border-bottom: size(1) solid color(gray-4);
                                }

                                span {
                                    grid-row: -2/-1;
                                    grid-column: -2/-1;
                                    @include capital;
                                    padding: size(4) 0;
                                }
                            }
                        }

                        .desc {
                            grid-column: -2/-1;
                            grid-row: 2/-2;
                            display: flex;
                            flex-wrap: wrap;
                            gap: size(16);

                            p {
                                @include capital;
                                color: color(gray-4);
                            }
                        }

                        .btns {
                            grid-column: 1/-1;
                            grid-row: -2/-1;
                            display: flex;
                            gap: size(8);
                            align-items: center;
                            justify-content: space-between;
                            @include body-1;

                            div {
                                display: flex;
                                gap: size(16);
                            }
                        }
                    }
                }
            }
        }
    }


    // pc ~ 1440
    @include max-to(pc) {
        $gamezone-width: calc((100svw - size(60)*2 - size(28)*2) * .6);
        // 算式：(window width - section padding - card padding) * game-zone flex

        height: calc($gamezone-width * .6); // 寬高比 60%

        &.MC {
            .play-game {
                .game-content {
                    .result {
                        .wheel {
                            width: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                            height: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                        }
                    }
                }
            }
        }

        &.HOTP {
            .play-game {
                .game-content {
                    padding: size(120) size(68) size(68);

                    .frame {
                        $frame-width: calc($gamezone-width - (size(88) * 2));
                        // 算式：gamezone width - 左右 padding 各 88px

                        padding-left: calc($frame-width * .04); // 左邊框 4%
                        padding-right: calc($frame-width * .04); // 右邊框 4%

                        &::before {
                            top: calc($frame-width * -.05); // 上邊框 5%
                        }

                        &::after {
                            bottom: calc($frame-width * -.035); // 下邊框 3.5%
                        }

                        &-result {
                            padding: size(20) size(16);
                            gap: size(16) size(12);
                            grid-template-columns: calc(40% - size(6)) calc(60% - size(6));
                            grid-template-rows: calc((size(68)*2) + size(12)) auto 1fr auto;
                            // 說明：calc(換行*2 + gap)

                            .img {
                                $img-width: calc((($frame-width * .894 - (size(16) * 2)) * .4) - size(8));
                                // 算式：((frame width * [100% - (左右邊框 5.3% * 2) = .894] - 左右 padding 各 16px) * .img flex 40%)) - gap/2)

                                padding: calc($img-width * .045); // .img 邊框 4.5%

                                h6 {
                                    right: calc($img-width * .045); // .img 邊框 4.5%
                                    bottom: calc(($img-width * .045) + size(4)); // .img 邊框 4.5% + 4px
                                }
                            }

                            .compare {
                                gap: size(12);
                                flex-wrap: wrap;
                            }

                            .btns {
                                div {
                                    gap: size(8);
                                }
                            }
                        }
                    }
                }
            }

            &+.content {
                height: calc($gamezone-width * .7 + size(40)) !important; // gamezone width * 寬高比 70% + 40px
            }
        }
    }


    // laptop ~ 1280
    @include max-to(laptop) {
        &.HOTP {
            .play-game {
                .game-content {
                    padding: size(120) size(28) size(60);

                    .frame {
                        $frame-width: calc($gamezone-width - (size(88) * 2));
                        // 算式：gamezone width - 左右 padding 各 88px

                        padding-left: calc($frame-width * .053); // 左邊框 5.3%
                        padding-right: calc($frame-width * .053); // 右邊框 5.3%

                        &::before {
                            top: calc($frame-width * -.068); // 上邊框 6.8%
                        }

                        &::after {
                            bottom: calc($frame-width * -.05); // 下邊框 5%
                        }

                        &-result {
                            grid-template-columns: calc(55% - size(8)) calc(45% - size(8));
                            grid-template-rows: auto 1fr auto;
                            gap: size(16);

                            .img {
                                $img-width: calc(((($frame-width * .894) - (size(16) * 2)) * .55) - size(8));
                                // 算式：(frame width * [100% - (左右邊框 5.3% * 2) = .894] - 左右 padding * .img flex) - gap/2)

                                grid-column: 1/2;
                                grid-row: 1/2;
                                padding: calc($img-width * .045); // .img 邊框 4.5%

                                h6 {
                                    right: calc($img-width * .045); // .img 邊框 4.5%
                                    bottom: calc(($img-width * .045) + size(4)); // .img 邊框 4.5% + bottom 位移 4px
                                }
                            }

                            .compare {
                                grid-column: -2/-1;
                                grid-row: 1/2;
                                flex-direction: column;
                                justify-content: space-between;

                                div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    img {
                                        flex: size(72);
                                        max-height: size(72);
                                        margin: size(2) auto;
                                    }

                                    h6 {
                                        padding: size(2) 0;
                                        display: flex;
                                        align-items: flex-end;
                                        justify-content: center;
                                    }

                                    span {
                                        padding: size(2) 0;
                                        display: block;
                                        text-align: center;
                                    }
                                }
                            }

                            .desc {
                                grid-column: 1/-1;
                                grid-row: 2/-2;
                            }

                            .btns {
                                grid-column: 1/-1;
                                grid-row: -2/-1;
                            }
                        }
                    }
                }
            }

            &+.content {
                height: calc($gamezone-width * .7 + size(40)) !important; // gamezone width * 寬高比 70% + 40px
            }
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        $gamezone-width: calc(100svw - size(60)*2 - size(28)*2);
        // 算式：window width - section padding - card padding

        height: calc($gamezone-width * .6); // 寬高比 60%

        .default {
            .game-title {
                padding: size(16);

                button {
                    @include btn-s;
                }
            }
        }

        .play-game {
            .game-content {
                .result {
                    transform: translate(0, size(-10));

                    img {
                        max-width: 15svw;
                    }
                }

                .selection {
                    padding: size(12) size(8);

                    div {
                        padding: size(4);
                        border-radius: size(4);
                    }
                }
            }
        }

        .popUp {
            .popUp--container {
                width: calc(100% - size(32));
            }
        }

        &.MTP,
        &.PSS,
        &.MC {
            .play-game {
                .game-content {
                    .selection {
                        div {
                            gap: size(4);

                            label {
                                padding: 0;
                            }
                        }

                        button {
                            max-width: size(144);
                        }
                    }
                }
            }
        }

        &.MC {
            .play-game {
                .game-content {
                    .result {
                        .wheel {
                            width: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                            height: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                        }
                    }

                    .selection {
                        div {
                            label {
                                padding: size(4) size(16);

                                img {
                                    &.item {
                                        max-height: size(40);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.HOTP {
            height: calc($gamezone-width * 0.6); // 寬高比 60%

            &.play {
                height: auto;
            }

            .play-game {
                .game-content {
                    .frame {
                        $frame-width: calc($gamezone-width - (size(88) * 2));
                        // 算式：gamezone width - 左右 padding 各 88px

                        padding-left: calc($frame-width * .05); // 左邊框 5%
                        padding-right: calc($frame-width * .05); // 右邊框 5%

                        &::before {
                            top: calc($frame-width * -.065); // 上邊框 6.5%
                        }

                        &::after {
                            bottom: calc($frame-width * -.05); // 下邊框 5%
                        }

                        &-result {
                            grid-template-columns: calc(30% - size(8)) calc(70% - size(8));
                            grid-template-rows: size(68) auto 1fr auto;
                            gap: 0 size(16);

                            .img {
                                $img-width: calc(((($frame-width * .894) - (size(16) * 2)) * .3) - size(8));
                                // 算式：((frame-width * [100% - (左右邊框 5.3% * 2) = 89.4%] - 左右 padding) * .img flex) - gap/2)

                                grid-row: 1/3;
                                padding: calc($img-width * .045); // .img 邊框 4.5%

                                h6 {
                                    right: calc($img-width * .045); // .img 邊框 4.5%
                                    bottom: calc(($img-width * .045) + size(4)); // .img 邊框 4.5% + bottom 位移 4px
                                }
                            }

                            .compare {
                                div {
                                    display: grid;
                                    grid-template-rows: 50% 50%;
                                    grid-template-columns: size(68) 1fr;
                                    gap: 0 size(8);

                                    img {
                                        grid-row: 1/-1;
                                        grid-column: 1/2;
                                    }

                                    h6 {
                                        grid-row: 1/2;
                                        grid-column: -2/-1;
                                    }

                                    span {
                                        grid-row: -2/-1;
                                        grid-column: -2/-1;
                                    }
                                }
                            }

                            .desc {
                                grid-column: -2/-1;
                                grid-row: 2/-2;
                                margin: size(16) 0;
                            }
                        }
                    }
                }
            }

            &+.content {
                height: auto !important;
            }
        }
    }


    // small-pad ~ 768
    @include max-to(small-pad) {
        $gamezone-width: calc(100svw - size(16)*2 - size(16)*2);
        // 算式：window width - section padding - card padding

        height: calc($gamezone-width * .6); // 寬高比 60%

        &.MC {
            .play-game {
                .game-content {
                    .result {
                        .wheel {
                            width: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                            height: calc($gamezone-width * (.6 - .2)); // 寬高比 60% - selection 20%
                        }
                    }
                }
            }
        }

        &.HOTP {
            height: calc($gamezone-width * .65) !important; // 寬高比 65%

            .default {
                .game-title {
                    &::before {
                        height: size(80);
                    }
                }
            }

            &.play {
                height: auto !important;
            }

            .play-game {
                .game-content {
                    .frame {
                        $frame-width: calc($gamezone-width - (size(28) * 2));
                        // 算式：gamezone width - 左右 padding 各 28px

                        padding-left: calc($frame-width * .05); // 左邊框 5%
                        padding-right: calc($frame-width * .05); // 右邊框 5%

                        &-result {
                            grid-template-columns: calc(55% - size(8)) calc(45% - size(8));
                            grid-template-rows: auto 1fr auto;
                            gap: size(12);

                            .img {
                                $img-width: calc(((($frame-width * .894) - (size(16) * 2)) * .55) - size(8));
                                // 算式：(frame width * [100% - (左右邊框 5.3% * 2) = .894] - 左右 padding * .img flex) - gap/2)

                                grid-column: 1/2;
                                grid-row: 1/2;
                                padding: calc($img-width * .045); // .img 邊框 4.5%

                                h6 {
                                    right: calc($img-width * .045); // .img 邊框 4.5%
                                    bottom: calc(($img-width * .045) + size(2)); // .img 邊框 4.5% + bottom 位移 2px
                                }
                            }

                            .compare {
                                div {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;

                                    img {
                                        flex: size(48);
                                        max-height: size(48);
                                    }
                                }
                            }

                            .desc {
                                grid-column: 1/-1;
                                grid-row: 2/-2;
                                margin: 0;
                            }

                            .btns {
                                flex-wrap: wrap;
                                gap: size(8);

                                >* {
                                    flex: 100%;
                                }

                                >div {
                                    flex-wrap: wrap;
                                    gap: size(12);

                                    button {
                                        flex: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // mobile ~ 516
    @include max-to(mobile) {
        $gamezone-width: calc(100svw - size(16)*2 - size(16)*2);
        // 算式：window width - section padding - card padding

        .default {
            .game-title {
                h3 {
                    font-size: size(15);
                }
            }
        }

        .popUp {
            .popUp--container {
                .popUp--content {
                    min-width: auto;
                }
            }
        }

        .play-game {
            .game-content {
                .selection {
                    padding: size(8) !important;
                }
            }
        }

        &.MTP,
        &.PSS,
        &.MC {
            .play-game {
                .game-content {
                    .selection {
                        div {
                            gap: size(4);

                            label {
                                padding: size(8);

                                img {
                                    &.item {
                                        max-height: size(24);
                                    }
                                }
                            }
                        }

                        button {
                            max-width: size(100);
                        }
                    }
                }
            }
        }

        &.IC {
            .play-game {
                .game-content {
                    .selection {
                        button {
                            max-width: size(140);
                        }
                    }
                }
            }
        }

        &.MC {
            .play-game {
                .game-content {
                    .result {
                        .wheel {
                            top: size(32);
                            width: calc((100svw - size(32) - size(32)) * (.6 - .25));
                            height: calc((100svw - size(32) - size(32)) * (.6 - .25));
                            // 算式：(window width - section padding - card padding) * (height ratio - selection)
                        }
                    }
                }
            }
        }

        &.HOTP {
            height: calc($gamezone-width * .65) !important; // 寬高比 65%

            .default {
                .game-title {
                    &::before {
                        height: size(80);
                    }
                }
            }

            &.play {
                height: auto !important;
            }

            .play-game {
                .game-content {
                    padding: size(108) size(4) size(28);

                    .frame {
                        $frame-width: calc($gamezone-width - (size(4) * 2));
                        // 算式：gamezone width - 左右 padding 各 4px

                        padding-left: calc($frame-width * .04); // 左邊框 4%
                        padding-right: calc($frame-width * .04); // 右邊框 4%

                        &::before {
                            top: calc($frame-width * -.05); // 上邊框 5%
                        }

                        &::after {
                            bottom: calc($frame-width * -.035); // 下邊框 3.5%
                        }

                        &-result {
                            grid-template-columns: calc(65% - size(8)) calc(35% - size(8));
                            gap: size(16) size(12);

                            .img {
                                $img-width: calc(((($frame-width * .894) - (size(16) * 2)) * .55) - size(8));
                                // 算式：(frame width * [100% - (左右邊框 5.3% * 2) = .894] - 左右 padding * .img flex) - gap/2)

                                h6 {
                                    right: calc($img-width * .045); // .img 邊框 4.5%
                                    bottom: calc(($img-width * .045) + size(4)); // .img 邊框 4.5% + bottom 位移 4px
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// animation
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translate(0, -5%);
    }

    50% {
        transform: translate(0, -15%);
    }

    100% {
        transform: translate(0, -5%);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes warning {
    0% {
        background-color: rgba(white, 0);
    }

    25% {
        background-color: rgba(white, .3);
    }

    50% {
        background-color: rgba(white, 0);
    }

    75% {
        background-color: rgba(white, .3);
    }

    100% {
        background-color: rgba(white, 0);
    }
}

@keyframes flash {
    0% {
        background-color: rgba(white, 0);
    }

    25% {
        background-color: rgba(white, .7);
    }

    50% {
        background-color: rgba(white, .3);
    }

    75% {
        background-color: rgba(white, .7);
    }

    100% {
        background-color: rgba(white, 0);
    }
}

@keyframes shaking {
    0% {
        transform: rotate(10deg) translate(0, -20%);
    }

    25% {
        transform: rotate(-15deg) translate(0, size(0));
    }

    50% {
        transform: rotate(10deg) translate(0, -20%);
    }

    75% {
        transform: rotate(-15deg) translate(0, size(0));
    }

    100% {
        transform: rotate(10deg) translate(0, -20%);
    }
}

.full-page {
    cursor: not-allowed;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;

    &.active {
        display: block;
    }
}