#personal {
    padding: 0 size(60);

    .container {
        position: inherit;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        gap: size(20);

        >h3 {
            margin-bottom: size(20);
            flex: 100%;
        }
    }

    .license {
        flex: 55%;
        flex-grow: 0;

        h3 {
            margin-bottom: size(40);
        }

        .carousel {
            padding: 0 size(72);
            position: relative;

            .swiper {
                &-slide {
                    display: flex;
                    align-items: flex-start;
                    gap: size(20);

                    .img {
                        flex: size(212);
                        max-width: size(212);
                        position: relative;

                        .button {
                            position: absolute;
                            left: size(20);
                            bottom: size(20);
                            width: size(48);
                            height: size(48);
                            @include radius;
                            background-color: rgba(black, .6);
                            color: color(gray-3);
                            padding: 0;

                            @media (hover: hover) {
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }

                    .desc {
                        flex: calc(100% - size(20) - size(212));
                        display: flex;
                        flex-wrap: wrap;
                        gap: size(16);
                        flex-grow: 0;

                        label {
                            display: flex;
                            align-items: center;
                        }

                        .input-group {
                            flex: 100%;
                            width: 100%;
                            justify-content: space-between;

                            label {
                                word-break: keep-all;
                            }

                            input {
                                flex: size(108);
                                max-width: size(108);
                                text-align: center;
                                padding: size(10);

                                &[disabled] {
                                    color: white;
                                }
                            }
                        }

                        .input-wrap {
                            flex: 100%;

                            input[disabled] {
                                color: color(gray-7);
                            }

                            .input-btn {
                                flex: 100%;
                            }
                        }

                        button {
                            flex: 100%;
                        }
                    }
                }

                &-button-prev,
                &-button-next {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &-button-prev {
                    left: 0;
                }

                &-button-next {
                    right: 0;
                }
            }
        }

        &.coming-soon {
            position: relative;

            &::after {
                position: absolute;
                content: '';
                background-color: rgba(black, .6);
                background-image: url(../img/ribbon.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;

            }
        }
    }

    .zkz {
        flex: 1;

        .card-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: size(40);

            .title {
                flex: 1;
                display: flex;

                h3 {
                    flex: 60%;
                    flex-grow: 1;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: size(20);
                    }
                }

                button {
                    flex: 1;
                    min-width: size(112);
                    @include body-2;
                }
            }

            .content {
                flex: 100%;
                display: flex;
                gap: size(20);
                align-items: stretch;

                .now,
                .accumulation {
                    flex: calc(50% - size(16));
                    align-self: stretch;
                    @include radius;
                    background-color: color(gray-9);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h6 {
                        flex: 1;
                        flex-grow: 0;
                        padding: size(20);
                        text-align: center;
                        border-bottom: size(2) solid color(gray-8);
                        width: 100%;
                    }

                    .value {
                        flex: 1;
                        flex-grow: 1;
                        @include font(40, Bold);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: size(8);
                        padding: size(28) size(20);

                        img {
                            width: size(24);
                        }
                    }

                    .btn {
                        min-height: size(64);

                        button {
                            margin-bottom: size(20);
                        }
                    }

                }
            }
        }
    }

    #record {
        flex: 100%;

        .filter {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: size(36);
            @include body-2;
            margin: size(16) 0;

            .days,
            .pages {
                display: flex;
                align-items: center;
                gap: size(12);

                span {
                    color: color(gray-6);
                }
            }

            .dropdown {
                position: relative;

                button {
                    @include body-1;
                    background-color: transparent;
                    padding: 0;
                    @include a-color(white, color(gray-2));
                    transition-property: color;
                }

                .dropdown-content {
                    top: calc(100% + size(8));
                    left: auto;
                    transform: none;
                    right: size(-20);
                    padding: 0 size(8) 0 size(16);
                    border-radius: size(20);
                    background-color: color(gray-9);
                    box-shadow: 0 0 size(10) color(gray-7);

                    ul {
                        padding-right: size(8);

                        >li {

                            @media (hover: hover) {
                                &:hover {
                                    >a {
                                        background-color: color(gray-8);
                                    }
                                }
                            }

                            &.active {
                                >a {
                                    background-color: color(gray-8);
                                }
                            }
                        }
                    }
                }

                &.active {
                    .dropdown-content {
                        padding: size(16) size(8) size(16) size(16);


                        ul {
                            overflow-y: auto;
                            max-height: size(150);

                            &::-webkit-scrollbar {
                                width: size(4);
                                background-color: transparent;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: color(gray-8);
                            }
                        }
                    }
                }
            }
        }

        .record- {
            &price {
                div {
                    display: flex;
                    align-items: center;
                    gap: size(8);

                    img {
                        width: size(20);
                    }
                }
            }

            &status {
                span {
                    display: flex;
                    gap: 0 size(8);
                }
            }

            &view {
                .button {
                    min-width: max-content;
                }
            }
        }

        .no-record {
            padding: size(20) 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            img {
                max-width: size(200);
                margin-bottom: size(32);
            }

            button {
                margin: size(20) auto;
            }
        }
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
    }

    &::before {
        content: url(../img/bg/inner-mask-top.png);
        top: 0;
    }

    &::after {
        content: url(../img/bg/inner-mask-bottom.png);
        bottom: size(-8);
    }


    // laptop ~ 1280
    @include max-to(laptop) {

        .license,
        .zkz {
            flex: 100%;
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        #record {
            .filter {
                justify-content: flex-start;
                margin-bottom: size(32);

                .dropdown {
                    .dropdown-content {
                        left: size(-40);
                        right: auto;
                    }
                }
            }

            table {
                tbody {
                    tr {
                        gap: size(16);

                        td {
                            &.record- {
                                &time {
                                    flex: calc(60% - size(10));
                                    color: color(gray-6);
                                }

                                &status {
                                    flex: calc(40% - size(10));
                                    align-self: flex-start;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    order: 2;
                                }

                                &trackno {
                                    border-top: size(1) solid color(gray-8);
                                    padding-top: size(16) !important;
                                }

                                &trackno,
                                &price {
                                    flex: 100%;
                                    order: 3;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                }

                                &time,
                                &status,
                                &trackno,
                                &price {
                                    @include body-2;
                                }

                                &view {
                                    flex: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    order: 3;

                                    .button {
                                        flex: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // small-pad ~ 768
    @include max-to(small-pad) {
        background-image: url(../img/bg/inner-bg-m.jpg);
        padding: 0 size(16);

        .license {
            .carousel {
                padding: 0 size(68) size(16);

                .swiper {
                    &-slide {
                        flex-wrap: wrap;

                        .img {
                            flex: 100%;
                            max-width: 100%;
                            text-align: center;

                            img {
                                max-width: size(200);
                            }

                            button {
                                left: calc(50% - size(100) + size(20));
                            }
                        }

                        .desc {
                            flex: 100%;
                        }
                    }
                }
            }

            &.coming-soon {
                &::after {
                    background-size: 200%;
                }
            }
        }

        .zkz {
            .card-content {
                .content {
                    flex-wrap: wrap;

                    .now,
                    .accumulation {
                        flex: 100%;

                        .btn {
                            min-height: auto;
                        }
                    }
                }
            }
        }
    }


    // mobile ~ 516
    @include max-to(mobile) {
        .license {
            .carousel {
                padding: 0 size(56) size(16);

                .swiper {
                    &-slide {
                        .img {
                            img {
                                max-width: size(150);
                            }
                        }

                        .desc {
                            .input-group {
                                input {
                                    flex: size(72);
                                    max-width: size(72);
                                }
                            }
                        }
                    }

                    &-button-prev,
                    &-button-next {
                        width: size(48);
                        height: size(48);
                    }
                }
            }
        }
    }
}