#personal {
    background-image: url(../img/bg/inner-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 45svw;
    padding: 0 size(60);

    .container {
        position: inherit;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        gap: size(20);

        >h3 {
            margin-bottom: size(20);
            flex: 100%;
        }
    }

    .linense {
        flex: 55%;
        flex-grow: 0;

        h3 {
            margin-bottom: size(40);
        }

        .carousel {
            padding: 0 size(72);
            position: relative;

            .swiper {
                &-slide {
                    display: flex;
                    align-items: flex-start;
                    gap: size(20);

                    .img {
                        flex: size(212);
                        max-width: size(212);
                        position: relative;

                        button {
                            position: absolute;
                            left: size(20);
                            bottom: size(20);
                            width: size(48);
                            height: size(48);
                            border-radius: size(30);
                            background-color: rgba(black, .6);
                            color: color(gray-3);
                            padding: 0;

                            @media (hover: hover) {
                                &:hover {
                                    color: white;
                                }
                            }
                        }
                    }

                    .desc {
                        flex: calc(100% - size(20) - size(212));
                        display: flex;
                        flex-wrap: wrap;
                        gap: size(16);
                        flex-grow: 0;

                        label {
                            display: flex;
                            align-items: center;
                        }

                        .input-group {
                            flex: 100%;
                            width: 100%;
                            justify-content: space-between;

                            label {
                                word-break: keep-all;
                            }

                            input {
                                flex: size(108);
                                max-width: size(108);
                                text-align: center;
                                padding: size(10);
                            }
                        }

                        .input-wrap {
                            flex: 100%;

                            input[disabled] {
                                color: color(gray-7);
                            }

                            .input-btn {
                                flex: 100%;
                            }
                        }

                        button {
                            flex: 100%;
                        }
                    }
                }

                &-button-prev,
                &-button-next {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &-button-prev {
                    left: 0;
                }

                &-button-next {
                    right: 0;
                }
            }
        }
    }

    .zkz {
        flex: 1;

        .card-content {
            height: 100%;
            display: grid;
            grid-template-rows: size(40) size(40) 1fr;
            grid-template-columns: calc(50% - size(10)) size(20) calc(50% - size(10) - size(112)) size(112);

            h3 {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                display: flex;
                align-items: center;

                i {
                    font-size: size(20);
                }
            }

            button {
                grid-row: 1 / 2;
                grid-column: -1 / -2;
                @include body-2;
            }

            .now,
            .accumulation {
                grid-row: -1 / -2;
                border-radius: size(30);
                background-color: color(gray-9);
                padding: size(20) 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                h6,
                .value,
                button {
                    flex: 1;
                }

                h6,
                button {
                    flex-grow: 0;
                }

                h6 {
                    padding: 0 size(20) size(20);
                    text-align: center;
                    border-bottom: size(2) solid color(gray-8);
                    width: 100%;
                }

                .value {
                    padding: size(40) size(20);
                    @include font(40, Bold);
                }

            }

            .now {
                grid-column: 1 / 2;
            }

            .accumulation {
                grid-column: 3 / -1;
            }
        }
    }

    .record {
        flex: 100%;

        &-tab {
            margin: size(40) 0;
            width: 100%;
            border-bottom: size(2) solid color(gray-6);

            li {
                display: inline-block;
                padding: size(10) size(32);
                @include body-1;
                color: color(gray-6);
                cursor: pointer;
                margin-bottom: size(-2);
                border-bottom: size(2) solid transparent;

                &.active {
                    color: white;
                    cursor: default;
                    border-color: white;
                }
            }
        }

        &-content {
            .record- {
                &status {
                    span {
                        display: flex;
                        gap: 0 size(8);
                    }
                }

                &view {
                    min-width: size(124);
                }
            }
        }
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 0;
    }

    &::before {
        content: url(../img/bg/inner-mask-top.png);
        top: 0;
    }

    &::after {
        content: url(../img/bg/inner-mask-bottom.png);
        bottom: size(-8);
    }


    // laptop ~ 1280
    @include max-to(laptop) {

        .linense,
        .zkz {
            flex: 100%;
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        .record {
            &-content {
                table {
                    thead {
                        display: none;
                    }

                    tbody {
                        tr {
                            background-color: color(gray-9);
                            margin: 0 0 size(16);
                            padding: size(12);
                            display: flex;
                            flex-wrap: wrap;
                            gap: size(12) size(20);
                            border-radius: size(12);

                            td {
                                align-items: center;
                                height: auto;
                                padding: size(4) 0;

                                &.record- {

                                    &time,
                                    &trackno,
                                    &price {
                                        flex: calc((100% - size(20))/2);

                                        span {
                                            margin-right: size(8);
                                            color: color(gray);
                                            @include body-2;
                                        }
                                    }

                                    &time {
                                        flex-shrink: 0;
                                    }

                                    &trackno,
                                    &price {
                                        order: 3;
                                    }

                                    &status {
                                        flex: calc((100% - size(20))/2);
                                        align-self: flex-start;
                                        display: flex;
                                        align-items: center;
                                        justify-content: flex-end;
                                        order: 2;
                                    }

                                    &view {
                                        flex: 100%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        order: 3;

                                        button {
                                            flex: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    // small-pad ~ 768
    @include max-to(small-pad) {
        background-image: url(../img/bg/inner-bg-m.jpg);
        padding: 0 size(16);

        .linense {
            .carousel {
                padding: 0 size(68) size(16);

                .swiper {
                    &-slide {
                        flex-wrap: wrap;

                        .img {
                            flex: 100%;
                            max-width: 100%;
                            text-align: center;

                            img {
                                max-width: size(200);
                            }

                            button {
                                left: calc(50% - size(100) + size(20));
                            }
                        }

                        .desc {
                            flex: 100%;
                        }
                    }
                }
            }
        }
    }


    // mobile ~ 516
    @include max-to(mobile) {
        .linense {
            .carousel {
                padding: 0 size(56) size(16);

                .swiper {
                    &-slide {
                        .img {
                            img {
                                max-width: size(150);
                            }
                        }

                        .desc {
                            .input-group {
                                input {
                                    flex: size(72);
                                    max-width: size(72);
                                }
                            }
                        }
                    }

                    &-button-prev,
                    &-button-next {
                        width: size(48);
                        height: size(48);
                    }
                }
            }
        }

        .record {
            &-content {
                table {
                    tbody {
                        tr {
                            gap: size(4) size(12);

                            td {
                                &.record- {

                                    &time,
                                    &trackno,
                                    &status {
                                        flex: 100%;
                                    }

                                    &time {
                                        order: 2;
                                    }

                                    &status {
                                        order: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}