button,
input[type=button],
input[type=submit],
a.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: size(8);
    cursor: pointer;
    background-color: color(primary);
    color: white;
    border-radius: size(10);
    border: size(1) solid transparent;
    padding: size(10) size(24);
    transition-property: background-color;
    @include body-2;

    &:hover {
        background-color: color(primary-6);
    }

    &[disabled] {
        cursor: default;
        background-color: color(gray-8);
        color: color(gray-6);
    }

    &.btn-s {
        padding: size(9.5) size(20);
        font-size: size(13);
    }

    // 深色按鈕
    &.btn-secondary {
        background-color: black;
        border: size(2) solid transparent;

        &:hover {
            background-color: color(gray-9);
        }

        &:focus {
            border: size(2) solid #c4c4c4;
        }

        &[disabled] {
            color: color(gray-6);
            background-color: color(gray-8);
        }
    }

    // 透明按鈕
    &.btn-tertiary,
    &.btn-rounded {
        border: size(1) solid white;
        background-color: transparent;

        &:hover {
            background-color: rgba(white, .15);
        }

        &[disabled] {
            border-color: rgba(white, .3);
            color: rgba(white, .3);
            background-color: transparent;
        }
    }

    // 圓形按鈕
    &.btn-rounded {
        border-radius: size(100);
        padding: size(12);
    }
}

@mixin btn-secondary {
    background-color: black;
    border: size(2) solid transparent;

    &:hover {
        background-color: color(gray-9);
    }

    &:focus {
        border: size(2) solid #c4c4c4;
    }

    &[disabled] {
        color: color(gray-6);
        background-color: color(gray-8);
    }
}

@mixin btn-tertiary {
    border: size(1) solid white;
    background-color: transparent;

    &:hover {
        background-color: rgba(white, .15);
    }

    &[disabled] {
        border-color: color(gray-6);
        color: color(gray-6);
        background-color: transparent;
    }
}

@mixin btn-s {
    padding: size(9.5) size(20);
}