.dropdown {
    position: relative;

    button {
        display: flex;
        align-items: center;
        gap: size(8);
        border-radius: size(10);
        transition-property: background-color;
        padding: size(10) size(24);
        @include body-2;

        &:hover {
            background-color: rgba(white, .15);
        }

        &::after {
            font-family: 'Icomoon';
            content: '\e900';
        }
    }

    &-content {
        position: absolute;
        // top: calc(100% + size(28));
        left: 50%;
        transform: translateX(-50%);
        width: size(160);
        padding: 0 size(20);
        border-radius: size(20);
        box-shadow: 0 0 size(20) 0 rgba(black, .25);
        background-color: color(primary);
        @include body-2;
        overflow: hidden;
        height: auto;
        max-height: 0;
        opacity: 0;
        transition-property: max-height, padding, opacity;

        >ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: size(8);

            >li {
                flex: 100%;
                text-align: center;

                >a {
                    display: block;
                    color: white;
                    border-radius: size(10);
                    transition-property: background-color;
                    padding: size(8) size(24);
                }

                @media (hover: hover) {
                    &:hover {
                        >a {
                            background-color: color(primary-4);
                        }
                    }
                }

                &.active {
                    >a {
                        background-color: color(primary-4);
                    }
                }
            }
        }
    }

    @media (min-width:1281px) {
        &-padding {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: size(160);
            z-index: 2;
        }

        &:hover {
            button {
                &::after {
                    content: '\e903';
                }
            }

            .dropdown-padding {
                padding-top: size(28);
            }

            .dropdown-content {
                padding: size(28) size(20);
                max-height: size(300);
                opacity: 1;
            }
        }
    }

    @include max-to(laptop) {
        &.active {
            button {
                &::after {
                    content: '\e903';
                }
            }

            .dropdown-content {
                padding: size(28) size(20);
                max-height: size(300);
                opacity: 1;
            }
        }
    }
}