.title-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: weight(Bold);
}

.title-xl {
    font-size: size(60);
}

h1,
.h1 {
    font-size: size(40);
}

h2,
.h2 {
    font-size: size(34);
}

h3,
.h3 {
    font-size: size(24);
}

h4,
.h4 {
    font-size: size(20);
}

h5,
.h5 {
    font-size: size(18);
}

h6,
.h6 {
    font-size: size(16);
}

.body-1 {
    font-size: size(18);
    line-height: 1.5;
}

.body-2 {
    font-size: size(15);
    line-height: 1.5;
}

.capital {
    font-size: size(14);

}

a {
    @include a-color(white, color(gray-2));
}

.text-center {
    text-align: center;
}

@include max-to(pad) {
    .title-xl {
        font-size: size(30);
    }

    h1 {
        font-size: size(24);
    }

    h2 {
        font-size: size(20);
    }

    h3 {
        font-size: size(18);
    }

    h4 {
        font-size: size(16);
    }

    h5 {
        font-size: size(15);
    }

    h6 {
        font-size: size(14);
    }

    .body-1 {
        font-size: size(15);
    }

    .body-2 {
        font-size: size(13);
    }

    .capital {
        font-size: size(12);
    }
}


@mixin body-1 {
    font-size: size(18);
    line-height: 1.5;

    @include max-to(pad) {
        font-size: size(15);
    }
}

@mixin body-2 {
    font-size: size(15);
    line-height: 1.5;

    @include max-to(pad) {
        font-size: size(13);
    }
}

@mixin capital {
    font-size: size(14);

    @include max-to(pad) {
        font-size: size(12);
    }
}