form {}

input {
    background-color: color(gray-9);
    border-radius: size(10);
    padding: size(10) size(24);
    color: white;
    @include body-2;
    border: none;

    &::placeholder {
        color: color(gray-6);
    }

    &+.helper {
        display: block;
        @include capital;
        color: color(gray-6);
    }

    &[disabled] {
        color: color(gray-7);
    }
}

.input-group {
    display: flex;
    align-items: center;
    gap: size(8);

    label,
    input {
        flex: 1;
    }
}

.input-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: size(8);

    input {
        flex: 100%;
        width: 100%;
    }
}

.input-btn {
    position: relative;

    input {
        width: 100%;
    }

    button {
        background-color: transparent;
        position: absolute;
        width: size(24);
        height: size(24);
        padding: 0;
        top: 50%;
        right: size(24);
        transform: translateY(-50%);
    }
}