.loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;

    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &-spinner {
        position: relative;

        span {
            display: block;
            width: size(100);
            height: size(100);
            border: size(5) solid color(gray-8);
            border-top-color: color(primary);
            border-radius: 50%;
            animation: spin 1s ease-in-out infinite;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(size(100)*.6);
        }
    }

    &-title {
        flex: 100%;
        @include body-1;
        text-align: center;
        margin-top: size(8);
    }


    &.full {
        position: fixed;
    }

    &.section {
        position: absolute;
    }
}

@keyframes spin {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}