.popUp {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(black, .8);
    z-index: 8;

    .popUp--container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: black;
        border-radius: size(20);
        padding: size(28);
        min-width: size(510);
        max-width: size(800);
        max-height: 80svh;
        box-shadow: 0 0 size(40) 0 rgba(color(primary-4), 0.56);

        .popUp--close {
            position: absolute;
            top: size(20);
            right: size(20);
            background-color: color(gray-9);
            height: size(36);
            width: size(36);
            padding: size(10);
            border-radius: size(100);
            text-align: center;
            transition-property: background-color;

            &:hover {
                background-color: color(gray-8);
            }
        }

        h3 {
            text-align: center;
            padding: 0 size(56);
        }

        .popUp--content {
            overflow-y: auto;
            margin: size(28) size(-24) size(28) 0;
            padding-right: size(24);
            max-height: calc(80svh - size(116));
            min-height: max-content;
            color: color(gray-2);
            @include body-1;
        }

        &:has(.popUp--btns) {
            .popUp--content {
                max-height: calc(80svh - size(186));
            }
        }

        .popUp--btns {
            display: flex;
            gap: size(20);

            button {
                flex: 1;
            }
        }
    }

    &.active {
        display: block;
    }


    // pad ~ 1024
    @include max-to(pad) {
        .popUp--container {
            width: calc(100svw - size(32));
            min-width: auto;

            .popUp--content {
                min-width: auto;
            }
        }
    }
}

#login {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: size(16);
        color: white;

        li {
            flex: 100%;
            display: flex;
            gap: size(16);
            align-items: center;
            justify-content: space-between;
            background-color: color(gray-9);
            border-radius: size(10);
            padding: size(12) size(24);
            @include body-1;
            cursor: pointer;
            transition-property: background-color;

            span {
                flex-grow: 1;
            }

            &:hover {
                background-color: color(gray-8);
            }
        }
    }
}

#withdraw {
    .popUp--container {
        .popUp--content {
            display: flex;
            gap: size(20);

            .img,
            .content {
                flex: calc((100% - size(20))/2);
            }

            .img {
                img {
                    border-radius: size(10);
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: size(20);
                color: white;

                .input-group {
                    width: 100%;

                    label {
                        text-align: right;
                        @include body-2;
                        color: color(gray-6);

                        span {
                            margin-left: size(4);
                        }
                    }
                }

                textarea {
                    width: 100%;
                    resize: none;
                }
            }
        }
    }


    // mobile ~ 516
    @include max-to(mobile) {
        .popUp--container {
            max-height: 90svh;

            .popUp--content {
                max-height: calc(90svh - size(116));
                flex-wrap: wrap;

                .img,
                .content {
                    flex: 100%;
                }

                .img {
                    text-align: center;
                }

                .content {
                    textarea {
                        height: calc(size(20) + (size(13)*1.3)*2);
                    }
                }
            }
        }
    }
}

#upgrade {
    .popUp--container {
        .popUp--content {
            display: flex;
            gap: size(20);

            img {
                flex: calc(40% - size(10));
                max-width: calc(40% - size(10));
            }

            .func {
                flex: calc(60% - size(10));
                max-width: calc(60% - size(10));

                .nowInfo {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    gap: size(28) size(20);

                    .input-wrap {
                        flex: calc(50% - size(10));
                        max-width: calc(50% - size(10));
                    }
                }

                .upgradeBar {
                    margin: size(28) 0 size(32);

                    label {
                        span {
                            &.max {
                                @include capital;
                                color: color(gray-6);
                            }
                        }
                    }
                }

                .needZKZ {
                    gap: size(20);

                    label,
                    input {
                        flex: calc(50% - size(10));
                        max-width: calc(50% - size(10));
                    }
                }
            }
        }
    }
}