.tab {
    width: 100%;
    overflow-x: auto;
    margin: size(40) 0;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-thumb {
        display: none;
    }

    ul {
        display: inline-flex;
        width: 100%;
        border-bottom: size(2) solid color(gray-6);

        li {
            display: inline-block;
            min-width: max-content;
            padding: size(10) size(32);
            @include body-1;
            color: color(gray-6);
            cursor: pointer;
            margin-bottom: size(-2);
            border-bottom: size(2) solid transparent;

            &.active {
                color: white;
                cursor: default;
                border-color: white;
            }
        }
    }
}

.tab-content {
    li {
        opacity: 0;
        display: none;

        &.active {
            opacity: 1;
            display: inherit;
            animation: fade-in .5s;
            z-index: 2;

            @keyframes fade-in {
                0% {
                    transform: translateY(size(50));
                }

                100% {
                    transform: translateY(0);
                }
            }
        }
    }
}


// pad ~ 1024
@include max-to(pad) {
    .tab {
        ul {
            margin: size(16) 0 size(20);
        }
    }
}