.tags {
    margin: size(20) 0 size(40);
    display: flex;
    flex-wrap: wrap;
    gap: size(8);

    li {
        background-color: rgba(white, .2);
        padding: size(4) size(12);
        border-radius: size(4);
        @include capital;
    }


    // pad ~ 1024
    @include max-to(pad) {
        margin: size(8) 0 size(20);
    }
}