.breadcrumb {
    margin-bottom: size(40);
    padding: 0 size(60);
    position: inherit;
    z-index: 1;

    li {
        display: inline-block;
        @include capital;
        color: color(primary-2);

        >a {
            @include a-color(color(primary-2));
        }

        &:not(:last-child) {
            &::after {
                font-family: 'Icomoon';
                content: '\e902';
                padding: 0 size(4);
            }
        }
    }

    // mobile ~ 516
    @include max-to(mobile) {
        padding: size(20) size(16) size(16);
    }
}