header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: size(20) size(52);
    background-color: color(primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: size(20);
    z-index: 7;
    @include body-2;
    transition-property: border-radius, top, left, right;

    .main-logo {
        flex: size(180);
        max-width: size(180);
    }

    .options {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .menu {
            display: none;
            width: size(36);
            height: size(36);
            background-color: black;
            @include font(16);
            padding: size(10);
            border-radius: size(100);
            position: relative;

            &:hover {
                background-color: color(gray-9);
            }

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: 'Icomoon';
                content: '\e90d';
            }
        }

        .nav {
            >ul {
                display: flex;
                gap: size(8);

                >li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >a {
                        padding: size(10) size(24);
                        color: white;
                        @include radius(10, 10);
                        transition-property: background-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: size(4);

                        @media (hover: hover) {
                            &:hover {
                                background-color: rgba(white, .15);
                            }
                        }
                    }

                    &[for=bridge] {
                        button {
                            &::after {
                                display: none;
                            }
                        }

                        .dropdown-content {
                            min-width: size(200);
                        }
                    }

                    &[for=language] {
                        // width: size(156);

                        button {
                            &::before {
                                font-family: 'Icomoon';
                                content: '\e90a';
                            }
                        }
                    }
                }
            }
        }

        &.active {
            .menu {
                &::before {
                    content: '\e907';
                }
            }
        }
    }

    .login {
        button {
            @include btn-secondary;
            @include body-2;
        }

        .admin {
            button {
                &::after {
                    font-family: 'Icomoon';
                    content: '\e900';
                }
            }

            &.active {
                button {
                    &::after {
                        font-family: 'Icomoon';
                        content: '\e903';
                    }
                }
            }
        }
    }

    &.fixed {
        border-radius: size(100);
        top: size(20);
        left: size(60);
        right: size(60);
    }


    // pc ~ 1440
    @include max-to(pc) {
        padding: svw(20) svw(52);
        gap: svw(20);

        .main-logo {
            flex: svw(180);
            min-width: size(160);
        }

        .options {
            gap: svw(20);

            .nav {
                >ul {
                    gap: svw(12);

                    >li {
                        >a {
                            padding: svw(10) svw(20);
                        }
                    }
                }
            }
        }

        &.fixed {
            top: size(20);
            left: size(40);
            right: size(40);
        }
    }


    // laptop ~ 1280
    @include max-to(laptop) {
        padding: size(12) size(16);

        .options {
            order: 3;
            flex-grow: 0;

            .menu {
                display: flex;
            }

            .nav {
                display: flex;
                align-items: center;
                justify-content: center;

                >ul {
                    width: calc(100svw - size(32));
                    transform: translate(0, size(-100));
                    gap: size(20);

                    >li {
                        >a {
                            padding: size(10) size(24);
                        }
                    }
                }
            }
        }

        .login {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button {
                padding: size(10) size(20);
                border: none !important;
                line-height: 1 !important;
                max-width: max-content;
            }
        }

        .dropdown {
            button {
                width: 100%;
            }

            .dropdown-content {
                z-index: 1;
                width: 100%;
                top: 100%;
                padding: 0 size(8);
                box-shadow: none;
                background-color: color(primary-4);

                ul {
                    gap: size(8);

                    >li {
                        >a {
                            padding: size(8) size(24) !important;
                        }

                        @media (hover: hover) {
                            &:hover {
                                >a {
                                    background-color: color(primary-3);
                                }
                            }
                        }

                        &.active {
                            >a {
                                background-color: color(primary-3);
                            }
                        }
                    }
                }
            }

            &.active {
                .dropdown-content {
                    padding: size(8);
                }
            }
        }
    }


    // mobile ~ 516
    @include max-to(mobile) {
        .main-logo {
            max-width: size(140);
            min-width: size(120);
        }
    }
}