main {
    background-color: color(primary);
    border-bottom-left-radius: size(30);
    padding-bottom: size(30);

    section {
        padding: size(20) calc((100svw - size(1440))/2);

        .container {
            max-width: size(1440);
            margin: 0 auto;
        }
    }

    // PC ~ 1440
    @include max-to(pc) {
        section {
            padding: size(20) size(20);
        }
    }
}

#keyvision {
    margin: size(85) auto 0;
    padding: 0 size(20);
    max-width: size(1440);
    position: relative;

    .slick {
        border-radius: size(30) size(30) size(30) 0;
        overflow: hidden;
        position: relative;
    }

    .mask {
        position: absolute;
        left: calc(size(20) + size(60) - size(2));
        bottom: size(-1);
        right: size(300);
        height: size(90);
        background-color: color(primary);
        transform: translateY(size(30));

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 0;
            height: size(90);
            transform: translateY(size(-30));
        }

        &::before {
            right: calc(100% - size(1));
            background-image: url(../img/kv-mask-before.svg);
            background-position: bottom left;
            width: size(60);
        }

        &::after {
            left: calc(100% - size(1));
            background-image: url(../img/kv-mask-after.svg);
            background-position: bottom right;
            width: size(80);
        }
    }

    .captions {
        position: absolute;
        left: size(72);
        bottom: size(-20);
        width: size(650);
        height: size(400);
        // padding: size(32);
        display: flex;
        flex-wrap: wrap;
        gap: size(20);
        z-index: 2;

        div {
            position: absolute;
            left: size(32);
            right: size(32);
            bottom: size(32);
            opacity: 0;
            transition-property: opacity;

            p {
                flex: 100%;
            }

            &.active {
                // position: initial;
                opacity: 1;
                transition-duration: 1.5s;
                animation: cap-move 1s;

                @keyframes cap-move {
                    0% {
                        transform: translateY(size(32));
                    }

                    100% {
                        transform: translateY(0);
                    }
                }
            }
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        margin: size(60) auto 0;
        padding: 0 size(16);

        .mask {
            left: calc(size(16) + size(60) - size(2));
            bottom: auto;
            top: calc(((100svw - size(32)) * .47) - size(90) + size(1));
        }

        .captions {
            position: initial;
            width: 100%;
            height: size(300);
            padding: 0 0 size(90);

            div {
                bottom: auto;
                left: size(16);
                right: size(16);
            }
        }
    }
}

#game {
    background-image: url(../img/bg/game-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .container {
        min-height: 50svw;
        padding: size(150) size(60) size(50);
        display: flex;
        gap: size(20);
        align-items: flex-start;
        position: inherit;
        z-index: 2;
    }

    .desc {
        flex: 25%;
        min-width: size(300);
        flex-grow: 0;

        p {
            &.title-xl {
                margin-bottom: size(8);
            }

            &.body-1 {
                margin-top: 0;
                margin-bottom: size(40);
            }
        }
    }

    .slick {
        flex: 1;
        max-width: calc(75% - size(20));
        padding-right: size(58);

        .slick-slide {
            margin: 0 size(10);
            overflow: hidden;
            border-radius: size(30);
            cursor: pointer;
            position: relative;

            img {
                border-radius: size(30);
            }

            .hover {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                transform: translate(0, -50%);
                padding: size(20);
                opacity: 0;
                transition-duration: .3s;
                transition-delay: .1s;
                z-index: 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: size(-100);
                left: 50%;
                right: 50%;
                bottom: size(-100);
                transform: rotate(45deg);
                transition: background-color .2s, left .3s, right .3s;
            }

            @media (hover: hover) {
                &:hover {
                    .hover {
                        opacity: 1;
                    }

                    &::before {
                        left: 0;
                        right: 0;
                        background-color: black;
                    }
                }
            }
        }

        .slick-arrow {
            top: calc(100% + size(40));
            bottom: auto;
        }
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
    }

    &::before {
        content: url(../img/bg/game-mask-top.png);
        top: 0;
    }

    &::after {
        content: url(../img/bg/game-mask-bottom.png);
        bottom: size(-8);
    }


    // PC ~ 1440
    @include max-to(pc) {
        .container {
            padding: svw(150) svw(60) svw(50);
        }

        .desc {
            min-width: svw(300);
        }

        .slick {
            .slick-slide {
                &:hover {
                    &::before {
                        left: size(-12);
                        right: size(-12);
                    }
                }
            }
        }
    }


    // pad ~ 1024
    @include max-to(pad) {
        .container {
            flex-wrap: wrap;
            height: auto;
            gap: size(60);
        }

        .desc,
        .slick {
            flex: 100%;
            max-width: 100%;
        }

        .slick {
            padding-right: size(24);
            margin-bottom: size(20);

            .slick-slide {
                border-radius: size(0);
                cursor: default;

                .hover {
                    position: initial;
                    transform: none;
                    opacity: 1;
                    padding: size(8) 0;

                    button {
                        padding: size(9.5) size(20);
                    }
                }

                &:hover {
                    &::before {
                        background-color: transparent;
                    }
                }
            }

            .slick-dots {
                right: 0;
            }
        }
    }


    // mobile ~ 768
    @include max-to(mobile) {
        background-image: url(../img/game-bg-m.jpg);

        .container {
            height: 200svw;
        }
    }
}

#nft {
    position: relative;
    padding: size(60) size(60) size(840) 0;

    .container {
        display: flex;
        gap: size(60);
        align-items: center;
        max-width: none;
        position: relative;
    }

    .carousel {
        flex: 1;
        overflow: hidden;
        padding: size(20) 0;

        .swiper {
            overflow: visible;

            &-slide {
                border-radius: size(30);
                overflow: hidden;
                background-color: color(gray-9);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                transform: scale(.7) !important;

                .content {
                    opacity: 0;
                    transition-property: opacity;
                    text-align: left;
                    background-color: color(gray-9);

                    .caption {
                        padding: size(20) size(20) size(30);

                        p {
                            margin-top: size(8);
                            @extend %body-2;
                        }

                        .tags {
                            margin-top: size(16);
                            flex-direction: row-reverse;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }

                &-next,
                &-active {
                    transition-duration: .3s !important;
                    box-shadow: size(-12) size(8) size(24) rgba(black, .6);
                }

                &-next {
                    transform: scale(.85) !important;
                    z-index: 2 !important;
                }

                &-active {
                    transform: scale(1) !important;
                    z-index: 3 !important;
                    cursor: pointer;

                    .content {
                        opacity: 1;
                    }
                }
            }

            &.coming-soon {
                .swiper-slide {
                    background-image: none !important;

                    .content {
                        opacity: 0;
                    }

                    &-active {
                        background-image: url(../img/nft/nft-comingSoon.jpg) !important;
                        cursor: default;
                    }
                }
            }
        }
    }

    .desc {
        z-index: 1;
        flex: 35%;
        flex-grow: 0;
        padding-right: size(58);

        p {
            &.body-1 {
                margin: size(8) 0 size(40);
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: size(-100);
        right: size(-100);
        bottom: 0;
        z-index: 0;
        background-color: black;
        background-image: url(../img/bg/nft-bg.jpg);
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        clip-path: polygon(0 size(100), 100% size(230), 100% 100%, 0% 100%);
    }


    // PC ~ 1440
    @include max-to(pc) {
        padding: svw(60) svw(60) svw(840) 0;
    }


    // pad ~ 1024
    @include max-to(pad) {
        padding: size(60) size(16) size(60) 0;

        .container {
            flex-wrap: wrap;
        }

        .carousel,
        .desc {
            flex: 100%;
        }

        .carousel {
            order: 2;
            padding: 0 0 size(60);
            position: relative;

            .swiper {
                margin-right: size(36);
                padding: size(28) 0;
                overflow: hidden;

                &-button {
                    &-prev {
                        right: size(80);
                    }

                    &-next {
                        right: 0;
                    }
                }
            }
        }

        .desc {
            padding-left: size(16);
        }

        &::before {
            clip-path: polygon(0 0, 100% size(130), 100% 100%, 0% 100%);
        }
    }
}

#tutorial {
    position: relative;
    margin: size(-660) auto 0;
    z-index: 1;
    padding: size(60);

    .title {
        width: size(430);

        .title-xl+p {
            margin-top: size(8);
        }
    }

    .content {
        margin-top: size(40);
        padding: size(112) size(112) 0;
        background-color: color(primary);
        border-top-left-radius: size(30);
        position: relative;

        .tab-content {
            li {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-align: center;

                img {
                    margin-bottom: size(32);
                }

                p {
                    margin: size(8) auto size(32);
                    @extend %body-1;
                }

                button {
                    margin: 0 auto;
                }
            }
        }

        &::before {
            content: url(../img/Rounded-Mask.svg);
            position: absolute;
            bottom: calc(100% - size(1));
            right: 0;
            transform: rotateX(180deg);
        }
    }

    // PC ~ 1440
    @include max-to(pc) {
        margin: svw(-660) auto 0;
        padding: svw(60);

        .content {
            margin-top: svw(40);
            padding: svw(112) svw(112) 0;

            .tab-content {
                li {
                    img {
                        margin-bottom: svw(32);
                    }

                    p {
                        margin: svw(8) auto svw(32);
                    }
                }
            }
        }
    }

    // pad ~ 1024
    @include max-to(pad) {
        margin-top: 0;
    }
}

#zkz {
    background-image: url(../img/bg/zkz-bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 45svw;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // PC ~ 1440
    @include max-to(pc) {
        height: 55svw;
    }
}