/* -- Global.scss -- */

#app {
    background-color: color(primary);
}

img {
    max-width: 100%;
}

p {
    &+p {
        margin-top: size(16);
    }
}

ol {
    list-style-type: decimal;
    padding-left: size(28);
}

i {
    &.icon-InfoCircle {
        cursor: pointer;
        @include a-color(color(gray-6));
        margin-left: size(8);
    }

    &.success {
        color: color(success);
    }

    &.warning {
        color: color(warning);
    }

    &.error {
        color: color(primary-4);
    }
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    video {
        width: 100%;

        &.bg-mobile {
            display: none;
        }
    }

    &::before,
    &::after {
        position: absolute;
        left: 0;
        right: 0;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: size(-8);
    }


    // pad ~ 1024
    @include max-to(pad) {
        video {
            &.bg-desktop {
                display: none;
            }

            &.bg-mobile {
                display: block;
            }
        }
    }
}