@import "reset";
@import "var";
@import "animation";

* {
    transition-duration: .2s;
    transition-property: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}


/* body 設定 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Noto+Sans+TC:wght@500;700;900&display=swap');

body {
    font-family: 'Inter', 'Noto Sans TC', cursive;
    background-color: color(primary);
    font-size: size(18);
    line-height: 1.5;
    color: white;
    overflow-x: hidden;

    @include max-to(laptop) {
        font-size: size(15);
        line-height: 1.3;
    }
}

#mainPage {
    background-color: black;

    @import "components/font";
    @import "components/buttons";
    @import "components/dropdown";
    @import "components/fulldown";
    @import "components/card";
    @import "components/tags";
    @import "components/tab";
    @import "components/tables";
    @import "components/popUp";
    @import "components/form";
    @import "components/swiper-custom";

    @import "global";

    @import "layout/header";
    @import "layout/breadcrumb";
    @import "layout/main";
    @import "layout/footer";

    @import "pages/shop";
    @import "pages/game";
    @import "pages/personal";
}